body
{
    background-color: #1F2833;
    margin: 0px;
    padding: 0px;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

section
{
    width: 100%;
    height: 95vh;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #0B0C10;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul
{
    display: flex;
}

nav ul li a
{
    margin: 20px;
    font-size: 20px;
    font-family: Tokyo;
    color: #66FCF1;
}

nav ul li a:hover
{
    color: #fff;
}
.logo
{
    font-family: The Font;
    font-size: 60px;
    color: #fff;
}

.logo:hover
{
    color: #66FCF1;
}

.banner-area
{
    background-image: url("assets/what.jpg");
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 500px;
    top: 20%;
    font-family: Raleway;
}

.banner-area h1
{
    padding-top: 5%;
    font-size: 72px;
    font-family: Tokyo;
    color: #fff;
}

.banner-area h2
{
    
}

.banner-area button
{
    width: 140px;
    height: 50px;
    border-radius: 10px;
    font-family: Raleway;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.resume-btn
{
    border: 2px solid #373636;
    color: #373636;
}

.github-btn
{
    border: 2px solid #373636;
    color: #373636;
}

button:active
{
    transform: scale(1.1);
}
